[submodule "luci-app-wechatpush"]
	path = luci-app-wechatpush
	url = https://github.com/tty228/luci-app-wechatpush.git
[submodule "tor"]
	path = tor
	url = https://github.com/torproject/tor.git
[submodule "luci-app-torbp"]
	path = luci-app-torbp
	url = https://github.com/NoviceDai/luci-app-torbp.git
[submodule "snowflake"]
	path = snowflake
	url = https://salsa.debian.org/pkg-privacy-team/snowflake.git
