[submodule "luci-app-wechatpush"]
	path = luci-app-wechatpush
	url = https://github.com/tty228/luci-app-wechatpush
[submodule "openwrt-chinadns-ng"]
	path = openwrt-chinadns-ng
	url = https://github.com/pexcn/openwrt-chinadns-ng.git
