[submodule "luci-app-chinadnsng"]
	path = luci-app-chinadnsng
	url = https://github.com/izilzty/luci-app-chinadns-ng
[submodule "chinadns-ng"]
	path = chinadns-ng
	url = https://github.com/izilzty/openwrt-chinadns-ng
